@import url("https://fonts.googleapis.com/css2?family=Exile&family=Playwrite+DK+Loopet:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Share+Tech&family=Underdog&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #080808;
  color: aliceblue;
  background: linear-gradient(
    to bottom right,
    #06eea0 1%,
    rgb(0, 110, 48),
    rgb(0, 0, 0),
    #000000 100%
  );
}
.navbar {
  display: flex;
  justify-content: space-evenly;
  height: 70px;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #080808;
}
.navbar .navlinks a {
  text-decoration: none;
  color: aliceblue;
  position: relative;
}
.navbar .navlinks a::after {
  content: "";
  width: 0;
  height: 3px;
  background: #06eea0;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: all 0.3s ease;
}
.navbar .navlinks a:hover::after {
  width: 100%;
}
.logo {
  width: 200px;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.navlinks {
  display: flex;
  justify-content: space-around;
  width: 60%;
}
p {
  color: aliceblue;
}

.herosection {
  /* background-color: rgb(178, 212, 230); */
  height: 100vh;
  display: flex;
  margin-top: 70px;
}
.heroDetails {
  /* background-color: brown; */
  width: 50%;
  height: 100%;
  flex-direction: column;
}
.heroDetails,
.heroImage {
  display: flex;
  align-items: center;
  justify-content: center;
}
.heroImage {
  height: 100%;
  width: 50%;
  /* background-color: aquamarine; */
}
.heroimgbox {
  background-color: blue;
  height: 500px;
  width: 500px;
  border-radius: 50%;
  overflow: hidden;
}
.latestReleaseBox {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(30px);
  border-radius: 15px;
  margin: 10px;
  height: fit-content;
  display: flex;
  justify-content: space-between;
}
.latestReleaseBox .details {
  width: 50%;
  padding: 30px;
}
.image_music .imgbox {
  height: 70%;
  width: 60%;
}
.latestReleaseBox .image_music {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
